.NavItem {
    height: 25%
}

.backNav {
    background-color:#466C95;
}

.size {
    height: 600px
}
.marginSubir {
    margin-bottom: 350px;
}

@media screen and (max-width:700px) {
    .NavItem {
        display: none
    }
}