.backgroundNavbar {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
.img-logo {
    width: 50px;
    height: 50px;
}
span {
    left: -15px;
    top: -15px;
    position: relative;
}